{% extends 'main.html' %}

{% block content %}

    <h1>Project Form</h1>

    {% comment %} la etiqueta 'enctype="multipart/form-data"' da la info al form para que permita subir archivos multimedia (la img de project.featured_image) {% endcomment %}
    {% comment %} <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}

        {% comment "" %}
        Esta es una forma de iterar todos los campos de un form con un for loop
        {% for field in form %}
        
            {{field.label}} "nos trae la etiqueta nombre del campo"
            {{field}} 
            

        {% endfor %}
        <input type="submit" >
        </form> 
        {% endcomment %}
        

<!-- Main Section -->
<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <a class="backButton" href="{% url 'projects' %}"><i class="im im-angle-left">&#8629;</i></a>
            <br>

            <form class="form" method="POST">
                {% csrf_token %}
                <!-- Input:Text -->
                
                    {% for field in form %}
                    <div class="form__field">
                        {{field.label}} <!--"nos trae la etiqueta nombre del campo"-->
                        {{field}}
                    </div>

                    {% endfor %}
                    <label for="formInput#text">Text Field: </label>
                    <input class="input input--text" id="formInput#text" type="text" name="text"
                        placeholder="Enter text" />
                </div>

                <!-- Input:Text -->
                <div class="form__field">
                    <label for="formInput#text">Text Field: </label>
                    <input class="input input--text" id="formInput#text" type="text" name="text"
                        placeholder="Enter text" />
                </div>

                <!-- Input:Text -->
                <div class="form__field">
                    <label for="formInput#text">Text Field: </label>
                    <input class="input input--text" id="formInput#text" type="text" name="text"
                        placeholder="Enter text" />
                </div>
                <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
            </form>
        </div>
    </div>
</main>
{% endblock content %}