{% extends "main.html" %}
{% block content %}

{% comment %} Practicando añadir variables y condiciones al template
    <h1>Projects Template. {{message}}</h1>

    {% if number > 10 %}
        <p>Number is {{number}}, so it's greater than 10</p>

    {% elif number == 10 %}
        <p>Number is 10</p>

    {% else %}
        <p>Number is {{number}}, so it's less than 10</p> {% endcomment %}
    
    {% comment %} {% endif %} {% endcomment %}
{% comment %} FIN - Practicando añadir variables y condiciones al template {% endcomment %}

{% comment %} Trabajar un for loop en template con una lista de diccionarios {% endcomment %}

{% comment %} --------------------------------------------------------------------------------------------------- {% endcomment %}


<h1>Project</h1>

<table>
    <tr>
        <th>Projects</th>
        <th>Votes</th>
        <th>Positive Votes</th>
    </tr>
    {% for project in projects %}
        <tr>
            <td>{{project.title}}</td>
            <td>{{project.vote_total}}</td>
            <td>{{project.vote_ratio}}%</td>
            <td>{{project.created}}</td>
            <td><a href= "{% url 'project' project.id %}">View</a></td>
            <td><a href= "{% url 'update-project' project.id %}">Edit</a></td>
            <td><a href= "{% url 'delete-project' project.id %}">&#128465;</a></td>
        </tr>
    
    {% endfor %}
</table>

{% comment %} FIN - Trabajar un for loop en template con una lista de diccionarios
<ul>
    {% for project in projects %}
        {% comment %} se añade link al proyecto desde el título con el método 'url' de django {% endcomment %}
        {% comment %} <li>Title: <a href="{% url 'project' project.id %}">{{project.title}}</a> --- {{project.created}}</li> {% endcomment %}

    {% comment %} {% endfor %} {% endcomment %}
{% comment %} </ul>
FIN - Trabajar un for loop en template con una lista de diccionarios {% endcomment %}

{% endblock content %}

